@model UserProfileModel

@{
    Layout = "_Layout";
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card</title>
    <link rel="stylesheet" href="/Profile-card.css" />
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Kartın yüksekliğini hesaplayın ve boyutları ayarlayın
            function setCardHeight() {
                var contentHeight = $('.content').height();
                var imgHeight = $('.img-bx img').height(); // Resim yüksekliği
                var listHeight = $('#userAccounts').height(); // <ul> yüksekliği
                var newCardHeight = Math.max(contentHeight, imgHeight, listHeight); // İçerik, resim ve liste yüksekliklerinin maksimumunu alır
                $('.card').css('height', newCardHeight + 'px');
            }

            // Sayfa yüklendiğinde ve içerik ekledikçe kartın boyutunu güncelleyin
            setCardHeight();

            // Örnek: Pencere yeniden boyutlandırıldığında boyutları yeniden hesaplayın
            $(window).resize(function () {
                setCardHeight();
            });
        });
    </script>

    <div class="card">
        <div class="img-bx">
            @*<img src="@Model.ImageUrl" alt="img" />*@
            @if (Model.ImageUrl != null)
            {
                <img src="@Model.ImageUrl" asp-append-version="true" alt="img" class="d-block ui-w-80">
            }
            else
            {
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="img" class="d-block ui-w-80">
            }

        </div>
        <div class="card-content">
            <div class="content">
                <div class="detail">
                    <h2 style="font-family: 'Inter', sans-serif; font-size: 32px; color: #333333; font-weight: bold;">@Model.Name @Model.Surname<br /><span>Follow me :))</span></h2>
                    <ul class="li">
                        @foreach (var item in Model.UserAccounts)
                        {
                            <li>
                                <a href="@item.AccountUrl" target="_blank"><i></i>@item.AccountName</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>
